<footer class="footer" id="footer">
  <div class="container footer-container">
    <p class="footer-slogan">
      <span class="footer-slogan-choco">Chocolate</span>a delicious cure for a
      bad day
    </p>
    <ul class="footer-contact-us">
      <li class="footer-contact-us-text">Contact us</li>
      <li class="footer-contact-us-tel">
        <a href="tel:+380684439426" class="footer-contact-us-tel"></a>+380 (68)
        443-94-26
      </li>
      <li class="footer-contact-us-mail">
        <a href="mailto:simplychoc@gmail.com"></a>simplychoc@gmail.com
      </li>
    </ul>
    <ul class="footer-socials">
      <li>
        <a
          href="https://www.instagram.com"
          target="_blank"
          rel="noopener nofollow"
        >
          <svg class="footer-inst-icon" width="22" height="22">
            <use href="../img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://www.twitter.com"
          target="_blank"
          rel="noopener nofollow"
        >
          <svg class="footer-twitter-icon" width="22" height="22">
            <use href="../img/icons.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
    <nav class="footer-navigation">
      <ul class="footer-navigation-list">
        <li><a href="" class="footer-navigation-link">Home</a></li>
        <li><a href="" class="footer-navigation-link">How it’s made?</a></li>
        <li><a href="" class="footer-navigation-link">Our products</a></li>
        <li><a href="" class="footer-navigation-link">Top sellers</a></li>
        <li>
          <a href="" class="footer-navigation-link">Chocolate is loved</a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
