<footer class="footer">
  <div class="container footer-container">
    <p class="footer-slogan">
      <span class="footer-slogan-choco">Chocolate</span>a delicious cure for a
      bad day
    </p>
    <ul class="footer-contact-us">
      <li class="footer-contact-us-text">Contact us</li>
      <li>
        <a href="tel:+380684439426" class="footer-contact-us-tel"></a>+380 (68)
        443-94-26
      </li>
      <li class="footer-contact-us-mail">
        <a href="mailto:simplychoc@gmail.com"></a>simplychoc@gmail.com
      </li>
    </ul>
    <ul>
      <li>
        <a
          href="https://www.instagram.com"
          target="_blank"
          rel="noopener nofollow"
        >
          <svg class="footer-inst-icon" width="22" height="22">
            <use href=""></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://www.twitter.com"
          target="_blank"
          rel="noopener nofollow"
        >
          <svg class="footer-twitter-icon" width="22" height="22">
            <use href=""></use>
          </svg>
        </a>
      </li>
    </ul>
    <nav class="footer-navigation">
      <ul>
        <li class="footer-navigation-link"><a href="">Home</a></li>
        <li class="footer-navigation-link"><a href="">How it’s made?</a></li>
        <li class="footer-navigation-link"><a href="">Our products</a></li>
        <li class="footer-navigation-link"><a href="">Top sellers</a></li>
        <li class="footer-navigation-link">
          <a href="">Chocolate is loved</a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
