<header class="header" id="home">
  <div class="container header-wrap">
    <a href="#" class="logo-header"
      ><span class="span-logo-header"> Simply</span> chokolate
      <svg class="header-logo-icon" width="21" height="21">
        <use href="./img/icons.svg#icon-chocolate-logo"></use>
      </svg>
    </a>
    <nav class="nav">
      <ul class="list desktop-item-nav">
        <li class="desktop-nav-item-list">
          <a href="#" class="link nav-link">Home</a>
        </li>
        <li class="desktop-nav-item-list">
          <a href="#" class="link nav-link">How it&#39;s made?</a>
        </li>
        <li class="desktop-nav-item-list">
          <a href="#" class="link nav-link">Our products</a>
        </li>
        <li class="desktop-nav-item-list">
          <a href="#" class="link nav-link">Top sellers</a>
        </li>
        <li class="desktop-nav-item-list">
          <a href="#" class="link nav-link">Chocolate is loved</a>
        </li>
      </ul>
    </nav>
    <ul class="menu-soc-item">
      <li class="list menu-icon-soc-list">
        <a
          href="https://www.instagram.com/"
          class="link menu-icon-soc-link"
          rel="noreferrer noopene"
        >
          <svg width="22" height="22" class="header-icon-soc">
            <use href="./img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="list menu-icon-soc-list">
        <a
          href="https://twitter.com/"
          class="link menu-icon-soc-link"
          rel="noreferrer noopene"
        >
          <svg width="20" height="20" class="header-icon-soc">
            <use href="./img/icons.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
    </ul>

    <button type="button" class="menu-btn-open js-open-mobmenu">
      <svg class="menu-btn-icon" width="28" height="28">
        <use href="./img/icons.svg#menu-icon-open"></use>
      </svg>
    </button>
  </div>
  <!-- Burger menu -->
  <div class="mob-menu js-mobmenu-container">
    <button type="button" class="menu-btn-close js-close-mobmenu">
      <svg class="menu-icon-close" width="28" height="28">
        <use href="./img/icons.svg#menu-icon-close"></use>
      </svg>
    </button>
    <ul class="list mob-item-nav">
      <li class="mob-item-list">
        <a href="#" class="link mob-menu-link">Home</a>
      </li>
      <li class="mob-item-list">
        <a href="#" class="link mob-menu-link">How it&#39;s made?</a>
      </li>
      <li class="mob-item-list">
        <a href="#" class="link mob-menu-link">Our products</a>
      </li>
      <li class="mob-item-list">
        <a href="#" class="link mob-menu-link">Top sellers</a>
      </li>
      <li class="mob-item-list">
        <a href="#" class="link mob-menu-link">Chocolate is loved</a>
      </li>
    </ul>
    <div class="header-soc-wrap">
      <ul class="menu-soc-item">
        <li class="list menu-icon-soc-list">
          <a
            href="https://www.instagram.com/"
            class="link menu-icon-soc-link"
            rel="noreferrer noopene"
          >
            <svg width="22" height="22" class="header-icon-soc">
              <use href="./img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="list menu-icon-soc-list">
          <a
            href="https://twitter.com/"
            class="link menu-icon-soc-link"
            rel="noreferrer noopene"
          >
            <svg width="20" height="20" class="header-icon-soc">
              <use href="./img/icons.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
<!-- <script src="./js/mobile-menu.js"></script> -->
