<section class="hero">
    <div class="container">
        <div class="hero-inner">
            <h1 hidden>section1</h1>
            <h2 class="hero-subtitle">Treat yourself or a loved one to our finest ingredients for a moment of pure delight!</h2>
            <div class="hero-wrapper">
                <div class="hero-wrapper-btn">
                    <button class="hero-btn" type="button">Buy now</button>
                    <a class="hero-link" href="#made" href="">How it's made</a>
                </div>
                <a href="#footer" class="hero-btn-scroll" type="button" id="scrollButton">
                    scroll down 
                    <span class="hero-btn-circle">
                        <svg class="hero-icon" width="16" height="16">
                            <use href="./img/icons.svg#icon-arrow"></use>
                        </svg>
                    </span>
                </a>
            </div>
        </div>
    </div>
</section>