<section class="hero ">
    <div class="container">
        <h1 hidden>section1</h1>
        <h2 class="hero-subtitle">Treat yourself or a loved one to our finest ingredients for a moment of pure delight!</h2>
        <div class="hero-wrapper">
            <button class="hero-btn" type="button">Buy now</button>
            <a class="hero-link" href="">How it's made</a>
        </div>
        <button type="button" id="scrollButton">
            scroll down 
            <!-- <svg>
                <use></use>
            </svg> -->
        </button>
    </div>
</section>