<section class="how-its-made" id="made"> 
  <div class="container">
    <h2 class="how-its-made-title">
      How it’s <span class="made-title-accent">made?</span>
    </h2>
    <div class="how-its-made-cont">
      <div class="how-its-img-wrapper">
        <img
          src="./src/img/how-its-made/mob-ver.jpg"
          alt="chocolate"
          class="how-its-img"
          width="335"
          height="500"
          loading="lazy"
        />
        <iframe
          class="how-its-frame-blc"
          width="335"
          height="500"
          src="https://www.youtube.com/embed/ZB9pCCcuP24"
          title="SIMPLY CHOCOLATE"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>
      <div class="youtube-wrapper">
        <p class="youtube">
          Try our chocolates today and discover the perfect balance of flavor
        </p>
        <ul class="how-its-made-list">
          <li class="how-its-made-items">
            Heat the milk in a saucepan without bringing it to a boil. Add sugar
            and cocoa powder.
          </li>
          <li class="how-its-made-items">
            At the same time, prepare a water bath. Melt the butter on it.
          </li>
          <li class="how-its-made-items">
            "Mix" the milk mixture and already liquid butter. Mix thoroughly
            with a silicone spatula so that the mass becomes uniform and silky.
          </li>
          <li class="how-its-made-items">
            Heat the mixture over low heat, letting it barely boil.
          </li>
          <li class="how-its-made-items">
            Pour the chocolate into special containers (can be replaced with ice
            molds). Allow to cool and harden.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
