<section class="section products">
  <div class="container">
    <h2 class="products-title">
      Our <span class="products-title products-title-accent">products</span>
    </h2>
    <ul class="products-item">
      <li class="products-list">
        <img
          class="products-img"
          srcset="./img/our-products/orange@2x.jpg 2x"
          src="./img/our-products/orange.jpg"
          alt="Chocolate bar orange flavor"
          width="230"
          height="201"
        />

        <p class="products-text">orange</p>
        <p class="products-text">Dark chocolate</p>
        <p class="products-text">45 UAH</p>
      </li>
    </ul>
  </div>
</section>
