<section class="section products" id="products">
  <div class="container">
    <h2 class="products-title title">
      Our <span class="products-title products-title-accent">products</span>
    </h2>
    <div class="swiper mySwiper">
      <ul class="swiper-wrapper products-list">
        <li class="swiper-slide products-item">
          <img
            class="products-img"
            srcset="./img/our-products/orange@2x.jpg 2x"
            src="./img/our-products/orange.jpg"
            alt="Chocolate bar orange flavor"
            width="230"
            height="201"
          />

          <p class="products-text-flavor">orange</p>
          <p class="products-text-type">Dark chocolate</p>
          <button type="button" class="products-btn">45 UAH</button>
        </li>
        <li class="swiper-slide products-item">
          <img
            class="products-img"
            srcset="./img/our-products/cranberry@2x.jpg 2x"
            src="./img/our-products/cranberry.jpg"
            alt="Chocolate bar apple and cranberry flavor"
            width="230"
            height="201"
          />

          <p class="products-text-flavor">Apple&amp;Cranberry</p>
          <p class="products-text-type">Milk chocolate</p>
          <button type="button" class="products-btn">50 UAH</button>
        </li>
        <li class="swiper-slide products-item">
          <img
            class="products-img"
            srcset="./img/our-products/lime@2x.jpg 2x"
            src="./img/our-products/lime.jpg"
            alt="Chocolate bar lime and sea salt flavor"
            width="230"
            height="201"
          />

          <p class="products-text-flavor">Lime&amp;Sea salt</p>
          <p class="products-text-type">Dark chocolate</p>
          <button type="button" class="products-btn">66 UAH</button>
        </li>
        <li class="swiper-slide products-item">
          <img
            class="products-img"
            srcset="./img/our-products/pineapple@2x.jpg 2x"
            src="./img/our-products/pineapple.jpg"
            alt="Chocolate bar pineapple flavor"
            width="230"
            height="201"
          />

          <p class="products-text-flavor">Pineapple</p>
          <p class="products-text-type">Dark chocolate</p>
          <button type="button" class="products-btn">54 UAH</button>
        </li>
        <li class="swiper-slide products-item">
          <img
            class="products-img"
            srcset="./img/our-products/milk@2x.jpg 2x"
            src="./img/our-products/milk.jpg"
            alt="Milk chocolate bar classic flavor"
            width="230"
            height="201"
          />

          <p class="products-text-flavor">Classic</p>
          <p class="products-text-type">Milk chocolate</p>
          <button type="button" class="products-btn">45 UAH</button>
        </li>
        <li class="swiper-slide products-item">
          <img
            class="products-img"
            srcset="./img/our-products/honey@2x.jpg 2x"
            src="./img/our-products/honey.jpg"
            alt="Chocolate bar honey flavor"
            width="230"
            height="201"
          />

          <p class="products-text-flavor">honey</p>
          <p class="products-text-type">Milk chocolate</p>
          <button type="button" class="products-btn">50 UAH</button>
        </li>
        <li class="swiper-slide products-item">
          <img
            class="products-img"
            srcset="./img/our-products/roasted@2x.jpg 2x"
            src="./img/our-products/roasted.jpg"
            alt="Chocolate bar roasted fruits flavor"
            width="230"
            height="201"
          />

          <p class="products-text-flavor">Roasted fruits</p>
          <p class="products-text-type">Dark chocolate</p>
          <button type="button" class="products-btn">66 UAH</button>
        </li>
        <li class="swiper-slide products-item">
          <img
            class="products-img"
            srcset="./img/our-products/white@2x.jpg 2x"
            src="./img/our-products/white.jpg"
            alt="White chocolate bar classic flavor"
            width="230"
            height="201"
          />

          <p class="products-text-flavor">Classic</p>
          <p class="products-text-type">White chocolate</p>
          <button type="button" class="products-btn">54 UAH</button>
        </li>
      </ul>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
