<section class="section reviews">
  <div class="container">
    <div class="reviews-thumb">
      <h2 class="reviews-title title">
        <span class="reviews-title reviews-title-accent title">chocolate</span>
        is loved
      </h2>
      <div class="swiper mySwiperReview">
        <ul class="swiper-wrapper reviews-list">
          <li class="swiper-slide reviews-item">
            <img
              class="reviews-img"
              srcset="./img/reviews/Victoria@2x.png 2x"
              src="./img/reviews/Victoria.png"
              alt="Foro of reviewer"
              width="80"
              height="80"
            />
            <p class="reviews-text-name">Victoria Dobrzhanska</p>
            <p class="reviews-text">
              I love this chocolate bar. Perfect combination of light crispy
              wafer, covered in a thin layer chocolate.
            </p>
          </li>
          <li class="swiper-slide reviews-item">
            <img
              class="reviews-img"
              srcset="./img/reviews/Nazar@2x.png 2x"
              src="./img/reviews/Nazar.png"
              alt="Foro of reviewer Nazar"
              width="80"
              height="80"
            />
            <p class="reviews-text-name">Nazar Babenko</p>
            <p class="reviews-text">
              This chocolate confection is a delight! A delight! The wafer is
              light and crisp, the hazelnut cream is smooth, and the chocolate
              is good.
            </p>
          </li>
          <li class="swiper-slide reviews-item">
            <img
              class="reviews-img"
              srcset="./img/reviews/Olena@2x.png 2x"
              src="./img/reviews/Olena.png"
              alt="Foro of reviewer Olena"
              width="80"
              height="80"
            />
            <p class="reviews-text-name">Olena Kampusch</p>
            <p class="reviews-text">
              Chocolate is a family favourite treat. Love the delicious smooth
              chocolate and the creaminess inside. The wafer is soft but
              crunchy.
            </p>
          </li>
        </ul>
        <div class="swiper-pagination"></div>
      </div>
      <button type="button" class="reviews-btn" data-review-open>
        Leave a review
      </button>
    </div>
  </div>
</section>

<!-- Modal window -->
<div class="backdrop is-hidden" data-review>
  <div class="modal">
    <button type="button" class="modal-btn" data-review-close>
      <svg class="modal-icon" width="28" height="28">
        <use href="./img/icons.svg#icon-close"></use>
      </svg>
    </button>
    <!-- Form -->
    <div class="form">
      <form class="modal-form" autocomplete="off">
        <h2 class="modal-text">
          Leave a review about <span class="accent-title">our chocolate</span>
        </h2>
        <div class="form-thumb">
          <label class="modal-form-label" autofocus>
            <input
              type="name"
              name="name"
              class="modal-form-input"
              placeholder="Name"
          /></label>

          <label class="modal-form-label">
            <input
              type="email"
              name="email"
              class="modal-form-input"
              placeholder="Enter your email"
          /></label>

          <label class="modal-form-label label-before">
            <span class="label-before-tel">+380</span>
            <span class="label-before-box"></span>
            <input
              type="tel"
              name="tel"
              class="modal-form-input input-tel"
              placeholder="Phone number"
          /></label>

          <label class="modal-form-label">
            <textarea
              name="comment"
              rows="5"
              class="modal-form-textarea"
              placeholder="Enter text"
            ></textarea>
          </label>

          <button type="submit" class="form-submit-btn">Send</button>
        </div>
      </form>
    </div>
  </div>
</div>
