<section class="section reviews">
  <div class="container">
    <div class="reviews-thumb">
      <h2 class="reviews-title title">
        <span class="reviews-title reviews-title-accent title">chocolate</span>
        is loved
      </h2>

      <ul class="reviews-list">
        <li class="reviews-item">
          <img
            class="reviews-img"
            srcset="./img/reviews/Victoria@2x.png 2x"
            src="./img/reviews/Victoria.png"
            alt="Foro of reviewer"
            width="80"
            height="80"
          />
          <p class="reviews-text-name">Victoria Dobrzhanska</p>
          <p class="reviews-text">
            I love this chocolate bar. Perfect combination of light crispy
            wafer, covered in a thin layer chocolate.
          </p>
        </li>
        <li class="reviews-item reviews-item-tb">
          <img
            class="reviews-img"
            srcset="./img/reviews/Nazar@2x.png 2x"
            src="./img/reviews/Nazar.png"
            alt="Foro of reviewer Nazar"
            width="80"
            height="80"
          />
          <p class="reviews-text-name">Nazar Babenko</p>
          <p class="reviews-text">
            This chocolate confection is a delight! A delight! The wafer is
            light and crisp, the hazelnut cream is smooth, and the chocolate is
            good.
          </p>
        </li>
        <li class="reviews-item reviews-item-ds">
          <img
            class="reviews-img"
            srcset="./img/reviews/Olena@2x.png 2x"
            src="./img/reviews/Olena.png"
            alt="Foro of reviewer Olena"
            width="80"
            height="80"
          />
          <p class="reviews-text-name">Olena Kampusch</p>
          <p class="reviews-text">
            Chocolate is a family favourite treat. Love the delicious smooth
            chocolate and the creaminess inside. The wafer is soft but crunchy.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
