<section class="subscribe subscribe-background">
  <div class="container subscribe-container">
    <h2 class="subscribe-title">Explore our new chocolate first</h2>
    <p class="subscribe-text">
      From the velvety texture to the rich and complex flavor, our New Chocolate
      is a true indulgence that will leave you craving more. Made with only the
      finest ingredients and handcrafted with the utmost care, each piece is a
      work of art that is sure to please.
    </p>
    <button type="button" class="subscribe-btn" data-explore-open>
      Subscribe
    </button>
  </div>
  <div class="subscribe-backdrop is-hidden" data-explore>
    <div class="data-explore">
      <form class="subscribe-form">
        <h2 class="subscribe-modal-title">
          Explore our<br />
          <span class="subscribe-new-chocolate">new chocolate</span> first!
        </h2>
      </form>
      <button type="button" class="subscribe-modal-close" data-explore-close>
        <svg class="data-explore-close" width="18" height="18">
          <use href="./img/icons.svg#icon-close"></use>
        </svg>
      </button>
      <label class="subscribe-modal-submit">
        <input
          type="email"
          class="subscribe-submit-input"
          placeholder="Enter your email"
          required
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
          title="Enter your email"
        />
      </label>
      <button type="submit" class="subscribe-submit-btn">Submit</button>`
    </div>
  </div>
</section>
