<!-- BEST-SELLERS -->
    <section class="best-sellers">
      <div class="container best-sellers-container">
        <h2 class="best-sellers-title">
          TOP <span class="best-sellers-title-dark">SELLERS</span>
        </h2>
        <div class="best-sellers-content">
        <!-- <div class="best-sellers-card-set"> -->
        <div class="best-sellers-box">
          <!-- <div class="best-sellers-card-set"> -->
          <picture>
            <source
              srcset="./top-sellers-images/topsallers-img-desc-1.jpg x1, ./top-sellers-images/topsallers-img-desc-1@2x 2x"
              media="(min-widht: 1200px)"
            />
            <source
              srcset="./top-sellers-images/topsallers-img-tab-1.jpg x1, ./top-sellers-images/topsallers-img-tab-1@ 2x"
              media="(min-widht: 768px)"
            />
            <source
              srcset="./top-sellers-images/topsallers-img-mob-1.jpg x1, ./top-sellers-images/topsallers-img-mob-1@2x 2x"
              media="(min-widht: 375px)"
            />
            <img
              src="./top-sellers-images/topsallers-img-mob-1.jpg"
              alt=""
              class="best-sellers-image"
            />
          </picture>.
          <p class="best-sellers-text">
            Crazy enough chocolate originates from a bean just like the coffee
            bean called Cacao. Cacao has been around for thousands of years and
            was first discovered by the Native American tribe called the Mayans.
          </p>
        </div>
        <div class="best-sellers-box">
         
          <picture>
            <source
              srcset="
              ./top-sellers-images/topsallers-img-desc-2.jpg x1, 
              ./top-sellers-images/topsallers-img-desc-2@2x 2x"
              media="(min-widht: 1200px)"
            />
            <source
              srcset="
              ./top-sellers-images/topsallers-img-tab-2.jpg x1, 
              ./top-sellers-images/topsallers-img-tab-2@2x"
              media="(min-widht: 768px)"
            />
            <source
              srcset="
                ./top-sellers-images/topsallers-img-mob-2.jpg 1x,
                ./top-sellers-images/topsallers-img-mob-2@2x
              "
              media="(min-widht: 375px)"
            />
            <img
              src="./top-sellers-images/topsallers-img-mob-2.jpg"
              alt=""
              class="best-sellers-image"
            />
          

          <!-- </div> -->
          <!-- <div class="div best-sellers-options"> -->

          <button class="buy-modal-btn" data-modal-open type="button">
            Buy now
          </button>
          </div>
          </picture>
          <div class="best-sellers-box">
          <img
            srcset="./top-sellers-images/topsallers-img-desc-3@2x.jpg 2x"
            src="./top-sellers-images/topsallers-img-desc-3.jpg"
            alt=""
            class="best-sellers-image best-sellers-image-ninja"
          /></div>
          <!-- </div> -->
        </div>
        <!-- <div class="best-sellers-container-content">
          <img
            class="best-sellers-img"
            src="./top-sellers-images/topsallers-img-mob-1.jpg"
            alt="cocoa"
          />
          
          <img
            class="best-sellers-img"
            src="./top-sellers-images/topsallers-img-mob-2.jpg"
            alt="chocolate"
          />
         

          
 <img
            class="best-sellers-img best-sellers-img-ninja"
            src="./top-sellers-images/topsallers-img-desc-3.jpg"
            alt="cocoa"
          />
        </div> -->
      </div>
    </section>

    <!-- MODAL -->
    <div class="backdrop is-hidden" data-modal>
      <div class="buy-modal">
        <button type="button" class="modal-close-btn" data-modal-close>
          <svg class="modal-close-icon" width="12" height="12">
            <use href="./top-sellers-images/icons.svg#modal-icon-close"></use>
          </svg>
        </button>
        <h2 class="buy-modal-title">
          buy <span class="buy-modal-title-now">now</span>
        </h2>
        <ul class="buy-modal-list">
          <li class="buy-modal-item">
            <img
              src="./top-sellers-images/modal-sell-img-mob-1.jpg"
              alt=""
              class="buy-modal-img"
            />
            <p class="buy-modal-text">100p</p>
          </li>
          <li class="buy-modal-item">
            <img
              src="./top-sellers-images/modal-sell-img-mob-2.jpg"
              alt=""
              class="buy-modal-img"
            />
            <p class="buy-modal-text">200p</p>
          </li>
          <li class="buy-modal-item">
            <img
              src="./top-sellers-images/modal-sell-img-mob-3.jpg"
              alt=""
              class="buy-modal-img"
            />
            <p class="buy-modal-text">300p</p>
          </li>
        </ul>

        <form class="buy-modal-form">
          <label class="buy-modal-form-field">
            <span class="buy-modal-input-desc">Personal information</span>
            <input
              class="buy-modal-input buy-modal-input-name"
              type="text"
              placeholder="Name"
              name="user_name"
              required
              pattern="^[a-zA-Z]+$"
              minlength="2"
            />
            <input
              class="buy-modal-input buy-modal-input-surname"
              type="text"
              placeholder="Surname"
              name="user_surname"
              required
              pattern="^[a-zA-Z]+$"
              minlength="2"
            />
          </label>

          <label class="buy-modal-form-field">
            <span class="buy-modal-input-desc">Email</span>
            <input
              class="buy-modal-input buy-modal-input-email"
              type="email"
              placeholder="Enter your email"
              name="user_email"
              required
            />
          </label>

          <label class="buy-modal-form-field">
            <span class="buy-modal-input-desc">Phone number</span>
            <span class="buy-modal-form-input-phone">
              <input
                class="buy-modal-input buy-modal-input-phone"
                type="tel"
                placeholder="Phone number"
                name="user_phone"
                required
                pattern="[0-9]{2}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
                title="xx-xxx-xx-xx"
              />
              <span class="buy-modal-form-input-phone-icon">
                <svg class="phone-icon" widht="74" height="25">
                  <use
                    href="./top-sellers-images/icons.svg#modal-icon-phone"
                  ></use>
                </svg>
              </span>
            </span>
          </label>

          <label class="buy-modal-form-field">
            <span class="buy-modal-input-desc">Card number</span>
            <input
              class="buy-modal-input buy-modal-input-card"
              type="text"
              placeholder="Enter card"
              name="user_card"
              required
              pattern="[0-9]{4}-[0-9]{4}-[0-9]{4}-[0-9]{4}"
              title="xxxx-xxxx-xxxx-xxxx"
            />
          </label>
          <label class="buy-modal-form-field">
            <span class="buy-modal-input-desc">Comment</span>
            <textarea name="user_message" placeholder="Enter Text"></textarea>
          </label>
          <button class="buy-modal-form-submit" type="submit">Submit</button>
        </form>
      </div>
    </div>
    <script src="./js/modal.js"></script>