<!-- Top-SELLERS -->
<section class="top-sellers">
  <div class="container top-sellers-container">
    <h2 class="top-sellers-title">
      Top <span class="top-sellers-title-dark">Sellers</span>
    </h2>
    <div class="top-sellers-thumb">
      <picture>
        <source
          srcset="
            ./img/top-sellers/topsallers-img-desc-1@2x.jpg 1x,
            ./img/top-sellers/topsallers-img-desc-1@2x.jpg 2x
          "
          media="(min-width: 1200px)"
          type="image/jpeg"
        />
        <source
          srcset="
            ./img/top-sellers/topsallers-img-tab-1@2x.jpg 1x,
            ./img/top-sellers/topsallers-img-tab-1@2x.jpg 2x
          "
          media="(min-width: 768px)"
          type="image/jpeg"
        />
        <source
          srcset="./img/top-sellers/topsallers-img-mob-1@2x.jpg"
          media="(max-width: 767px)"
          type="image/jpeg"
        />
        <img
          class="top-sellers-img"
          src="./img/top-sellers/topsallers-img-mob-1.jpg"
          alt="Nuts and chocolates"
          width="368"
          height="464"
        />
      </picture>
      <picture class="top-sellers-img-order">
        <source
          srcset="
            ./img/top-sellers/topsallers-img-desc-2@2x.jpg 1x,
            ./img/top-sellers/topsallers-img-desc-2@2x.jpg 2x
          "
          media="(min-width: 1200px)"
          type="image/jpeg"
        />
        <source
          srcset="
            ./img/top-sellers/topsallers-img-tab-2@2x.jpg 1x,
            ./img/top-sellers/topsallers-img-tab-2@2x.jpg 2x
          "
          media="(min-width: 768px)"
          type="image/jpeg"
        />
        <source
          srcset="./img/top-sellers/topsallers-img-mob-2@2x.jpg"
          media="(max-width: 767px)"
          type="image/jpeg"
        />
        <img
          class="top-sellers-img"
          src="./img/top-sellers/topsallers-img-mob-2.jpg"
          alt="Nuts and chocolates"
          width="368"
          height="464"
        />
      </picture>
      <picture>
        <img
          srcset="./img/top-sellers/topsallers-img-desc-3.jpg"
          class="top-sellers-img top-sellers-img-hidden"
          src="./img/top-sellers/topsallers-img-desc-3.jpg"
          alt="Dark chocolates"
          width="368"
          height="464"
        />
      </picture>
  

    <!-- <div class="top-sellers-wrapper"> -->
      <p class="top-sellers-text">
        Crazy enough chocolate originates from a bean just like the coffee bean
        called Cacao. Cacao has been around for thousands of years and was first
        discovered by the Native American tribe called the Mayans.
      </p>
      <button class="buy-modal-btn" data-order-open type="button">
        Buy now
      </button>
        </div>
    </div>
  </div>
</section>

<!-- MODAL Buy-now -->
<div class="backdrop-buy-now is-hidden" data-order>
  <div class="buy-now-modal">
    <button type="button" class="buy-now-btn-close" data-order-close>
      <svg class="buy-now-icon" width="24" height="24">
        <use href="./img/icons.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="buy-now-title">
      buy <span class="buy-now-title-accent">now</span>
    </h2>
    <ul class="buy-now-list">
      <li class="buy-now-item">
        <picture>
          <source
            srcset="
              ./img/top-sellers/modal-sell-img-3.jpg    1x,
              ./img/top-sellers/modal-sell-img-3@2x.jpg 2x
            "
            media="(min-width: 768px)"
            type="image/jpeg" />
          <source
            srcset="./img/top-sellers/modal-sell-img-mob-3@2x.jpg 2x"
            media="(max-width: 767px)"
            type="image/jpeg" />
          <img
            src="./img/top-sellers/modal-sell-img-mob-3.jpg"
            alt=""
            class="buy-now-img"
            width="120"
            height="107"
        /></picture>
        <p class="buy-now-text">100g</p>
      </li>
      <li class="buy-now-item">
        <picture>
          <source
            srcset="
              ./img/top-sellers/modal-sell-img-2.jpg    1x,
              ./img/top-sellers/modal-sell-img-2@2x.jpg 2x
            "
            media="(min-width: 768px)"
            type="image/jpeg" />
          <source
            srcset="./img/top-sellers/modal-sell-img-mob-2@2x.jpg 2x"
            media="(max-width: 767px)"
            type="image/jpeg" />
          <img
            src="./img/top-sellers/modal-sell-img-mob-2.jpg"
            alt=""
            class="buy-now-img"
            width="120"
            height="107"
        /></picture>
        <p class="buy-now-text">200g</p>
      </li>
      <li class="buy-now-item">
        <picture>
          <source
            srcset="
              ./img/top-sellers/modal-sell-img-1.jpg    1x,
              ./img/top-sellers/modal-sell-img-1@2x.jpg 2x
            "
            media="(min-width: 768px)"
            type="image/jpeg" />
          <source
            srcset="./img/top-sellers/modal-sell-img-mob-1@2x.jpg 2x"
            media="(max-width: 767px)"
            type="image/jpeg" />
          <img
            src="./img/top-sellers/modal-sell-img-mob-1.jpg"
            alt=""
            class="buy-now-img"
            width="120"
            height="107"
        /></picture>
        <p class="buy-now-text">300g</p>
      </li>
    </ul>

    <form class="buy-now-form">
      <label for="user_name" class="buy-now-label">Personal information </label>
      <div class="label-thumb">
        <input
          class="buy-now-input"
          type="text"
          placeholder="Name"
          name="user_name"
          required
          pattern="^[a-zA-Z]+$"
          minlength="2"
        />
        <input
          class="buy-now-input"
          type="text"
          placeholder="Surname"
          name="user_surname"
          required
          pattern="^[a-zA-Z]+$"
          minlength="2"
        />
      </div>

      <label for="user_email" class="buy-now-label">Email </label>
      <input
        class="buy-now-input"
        type="email"
        placeholder="Enter your email"
        name="user_email"
        required
      />

      <label for="tel" class="buy-now-label buy-now-label-before"
        >Phone number
        <span class="buy-now-label-before-tel">+380</span>
        <span class="buy-now-label-before-box"></span>
      </label>
      <input
        type="tel"
        name="tel"
        class="buy-now-input buy-now-input-tel"
        placeholder="Phone number"
      />

      <label for="user_card" class="buy-now-label">Card number </label>
      <input
        class="buy-now-input"
        type="text"
        placeholder="Enter card"
        name="user_card"
        required
        pattern="[0-9]{4}-[0-9]{4}-[0-9]{4}-[0-9]{4}"
        title="xxxx-xxxx-xxxx-xxxx"
      />
      <label for="user_message" class="buy-now-label">Comment </label>
      <textarea
        class="buy-now-textarea"
        name="user_message"
        rows="5"
        placeholder="Enter Text"
      ></textarea>
      <button class="buy-now-submit buy-modal-btn" type="submit">Submit</button>
    </form>
  </div>
</div>
