<section class="components section">
    <div class="container">
        <h2 class="components-title">It all adds up to one exceptional <span class="componets-title-accent">taste </span>sensation</h2>
        <p class="components-text">
            At Simply Chocolate, we believe that the secret to exceptional chocolate is in the details. From the sourcing of the finest ingredients to the careful crafting of each individual piece, every step of our process adds up to one exceptional taste sensation.
        </p>
        <ul class="components-list">
            <li class="components-item components-item-chocolate">
                <img class="components-item-img" 
                srcset="../img/unique-components/component-1-2x.png 2x"
                src="../img/unique-components/component-1.png" alt="milk chocolate">
                <div class="components-top-wrapper">
                    <h3 class="components-top-name">Milk Chocolate</h3>
                    <div class="components-top-buttons">
                        <button class="components-top-ingredient">chocolate</button>
                        <button class="components-top-benefit">the benefits</button>
                    </div>
                    <p class="components-top-text">
                        Milk chocolate is a solid chocolate confectionery containing cocoa, sugar and milk. It is the most consumed type of chocolate. Chocolate was originally sold and consumed as a beverage in pre-Columbian times. Although four-fifths of all milk chocolate is sold in the United States and Europe.
                    </p>
                </div>
                <p class="components-item-name">Milk chocolate</p>
            </li>
        </ul>
    </div>
</section>

