/* :root {
  --font-family: 'Montserrat', sans-serif;
  --fw-ligth: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --primary-dark-color: #111111;
  --secondary-dark-color: #1e1823;
  --accent-color: #fd9222;
  --hover-color: #fcf1e0;
  --white-color: #ffffff;
  --white-color-100: #fafafa;
  --input-color: rgba(64, 64, 64, 0.3);
  --timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

.advantages-mob {
  padding: 20px 0 36px;
  background-color: var(--secondary-dark-color);
}

.svg-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 62px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  margin-bottom: 22px;
  background-color: var(--secondary-dark-color);
}

.svg-box-icon {
  fill: var(--accent-color);
}

.advantages-text-content {
  max-width: 308px;
  font-family: 'Montserrat-400', sans-serif;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}

.advantages-title {
  font-family: 'Montserrat-600', sans-serif;
  font-size: 18px;
  line-height: 1.2;
  color: var(--white-color);
  margin-bottom: 18px;
}

.advantages-item:not(:last-child) {
  margin-bottom: 38px;
}

/* !========================TABLE======================= */

@media screen and (min-width: 768px) {
  .advantages-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    padding-bottom: 50px;
  }

  .advantages-item {
    flex-basis: calc((100% - 32px) / 2);
  }
}
/*!========================DESKTOP======================== */

@media screen and (min-width: 1200px) {
  .advantages-mob {
    padding: 50px 0;
  }

  .advantages-list {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: stretch;
    padding: 0;
    gap: 88px;
  }

  .advantages-item {
    position: relative;
    max-width: 308px;
  }
  .advantages-item.advantages-item:not(:last-child)::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    right: -18px;
    height: 124px;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.5);
  }

  .flex-container {
    display: flex;
  }
}
