@font-face {
    font-family: 'Montserrat';
    src: url(./fonts/Montserrat-Bold.ttf);
  }
  
  @font-face {
    font-family: 'Montserrat';
    src: url(./fonts/Montserrat-Medium.ttf);
  }
  
  @font-face {
    font-family: 'Montserrat';
    src: url(./fonts/Montserrat-Regular.ttf);
  }
  
  @font-face {
    font-family: 'Montserrat';
    src: url(./fonts/Montserrat-SemiBold.ttf);
}