.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-header {
  font-family: 'Montserrat-700', sans-sarif;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.03em;
  color: var(--primary-dark-color);
  display: flex;
  gap: 4px;
  padding-top: 25px;
  padding-bottom: 19px;
  text-transform: uppercase;
}
.span-logo-header {
  font-style: italic;
}
.header-logo-icon {
  stroke: #fd9222;
  stroke-width: 2px;
  fill: var(--white-color);
}
.nav {
  display: none;
}
.menu-btn-open {
  background-color: transparent;
  color: var(--primary-dark-color);
  border: none;
}
.menu-btn-open:hover,
.menu-btn-open:focus {
  width: 32px;
  height: 32px;
  outline: none;
}
.menu-btn-open:hover .menu-btn-icon,
.menu-btn-open:focus .menu-btn-icon {
  width: 24px;
  height: 16px;
}
/* Mobile-menu */
.mob-menu {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-dark-color);
  max-width: 220px;
  height: 100vh;
  position: fixed;
  right: 0;
  padding: 136px 46px 500px 50px;
  top: 0;
  z-index: 2;
  transform: translateX(100%);
  transition: transform var(--timing-function);
}
.mob-menu.is-open {
  transform: translateX(0);
}
.menu-btn-close {
  background-color: transparent;
  border: none;
  color: var(--white-color);
  position: absolute;
  top: 20px;
  right: 20px;
  margin-left: auto;
  transition: var(--timing-function);
}
.menu-icon-close {
  fill: currentColor;
}
.mob-item-nav {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.menu-btn-close:hover,
.menu-btn-close:focus {
  color: var(--accent-color);
  outline: none;
}
.menu-btn-close:hover .menu-icon-close,
.menu-btn-close:focus .menu-icon-close {
  width: 17px;
  height: 17px;
}
.mob-menu-link {
  font-family: 'Montserrat-500', sans-sarif;
  font-size: 14px;
  line-height: 1.1;
  color: var(--white-color);
  transition: color var(--timing-function);
  position: relative;
  white-space: nowrap;
}

.mob-menu-link:hover,
.mob-menu-link:focus {
  color: var(--accent-color);
  outline: none;
}
.mob-menu-link:hover::after,
.mob-menu-link:focus::after {
  content: '';
  display: block;
  border: 1px solid var(--accent-color);
  border-radius: 1px;
  position: absolute;
  bottom: -8px;
  width: 24px;
  height: 0;
  outline: none;
  width: 100%;
}
.header-soc-wrap {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.menu-soc-item {
  display: flex;
  gap: 20px;
}
.menu-icon-soc-link {
  stroke: var(--white-color);
  outline: none;
}
.header-icon-soc {
  color: currentColor;
  fill: transparent;
  transition: var(--timing-function);
}
.menu-icon-soc-link:hover,
.menu-icon-soc-link:focus {
  stroke: var(--accent-color);
  outline: none;
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .logo-header {
    padding-top: 31px;
    padding-bottom: 31px;
  }
  .menu-btn-open {
    width: 32px;
    height: 32px;
  }
  .mob-menu {
    max-width: 290px;
  }
  .menu-icon-close {
    width: 13px;
    height: 13px;
  }
  .header-soc-wrap {
    bottom: 32px;
    left: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
  .logo-header {
    padding-top: 26px;
    padding-bottom: 34px;
    font-size: 18px;
    line-height: 1.1;
  }
  .menu-btn-open {
    display: none;
  }
  .nav {
    display: flex;
    flex-direction: row;
  }
  .desktop-item-nav {
    display: flex;
    gap: 24px;
  }
  .nav-link {
    font-family: 'Montserrat-500', sans-sarif;
    font-size: 14px;
    line-height: 1.1;
    color: var(--primary-dark-color);
    transition: color var(--timing-function);
    position: relative;
    white-space: nowrap;
  }

  .nav-link:hover,
  .nav-link:focus {
    color: var(--accent-color);
    outline: none;
  }
  .nav-link:hover::after,
  .nav-link:focus::after {
    content: '';
    display: block;
    border: 1px solid var(--accent-color);
    border-radius: 1px;
    position: absolute;
    bottom: -8px;
    width: 24px;
    height: 0;
    outline: none;
    width: 100%;
  }
  .header-soc-wrap {
    position: absolute;
  }
  .menu-soc-item {
    display: flex;
    gap: 20px;
  }
  .menu-icon-soc-link {
    stroke: var(--primary-dark-color);
    outline: none;
  }
  .header-icon-soc {
    color: currentColor;
    fill: transparent;
    transition: var(--timing-function);
  }
  .menu-icon-soc-link:hover,
  .menu-icon-soc-link:focus {
    stroke: var(--accent-color);
    outline: none;
  }
}
