.products {
  background-color: var(--white-color-100);
}
.products-title {
  font-family: 'Montserrat-600', sans-serif;
  margin-bottom: 32px;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--primary-dark-color);
}
.products-title-accent {
  color: var(--accent-color);
}

.products-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
}
.products-img {
  border-radius: 15px;
}

.products-text-flavor {
  font-family: 'Montserrat-600', sans-serif;
  margin-bottom: 2px;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--primary-dark-color);
}
.products-text-type {
  margin-bottom: 18px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
}
.products-btn {
  font-family: 'Montserrat-600', sans-serif;
  padding: 8px 20px;
  margin-bottom: 32px;
  font-size: 14px;
  line-height: 1.21;

  background: #fafafa;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
}

@media screen and (min-width: 768px) {
  .products-title {
    margin-bottom: 50px;
    font-size: 24px;
    line-height: 1.17;
  }
}

/* Swiper */
.swiper {
  padding-bottom: 45px;
}

.swiper-pagination-bullet {
  width: 13px;
  height: 13px;
  background-color: rgba(17, 17, 17, 0.1);
}
.swiper-pagination-bullet-active {
  width: 28px;
  border-radius: 50px;
  background-color: var(--accent-color);
}
