/* :root {
    --font-family: 'Montserrat', sans-serif;
    --fw-normal: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;
    --primary-dark-color: #111111;
    --secondary-dark-color: #1e1823;
    --accent-color: #fd9222;
    --hover-color: #fcf1e0;
    --white-color: #ffffff;
    --white-color-100: #fafafa;
    --input-color: rgba(64, 64, 64, 0.3);
    --timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */




.subscribe-background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url(../img/subscribe-img/mob-subscribe-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}


.subscribe-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 62px 20px;

}


.subscribe-title {
    font-weight: var(--fw-medium);
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: var(--white-color);
    max-width: 291px;
    margin-bottom: 24px;
}

.subscribe-text {
    font-weight: var(--fw-ligth);
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    letter-spacing: -0.02em;
    color: var(--white-color);
    max-width: 326px;
    max-height: 108px;
    margin-bottom: 24px;
}

.subscribe-btn {
    font-family: "Montserrat-600";
    font-size: 14px;
    line-height: 17px;
    min-width: 128px;
    min-height: 41px;
    border-radius: 100px;
    border: none;
    background-color: var(--accent-color);
    color: var(--white-color);
}

.subscribe-btn:hover {
    color: var(--accent-color);
    background-color: var(--hover-color);
}



/* ----------------------------375px-------------------------- */

@media screen and (min-width: 375px) {}


/* ----------------------------768px----------------------------- */

@media screen and (min-width: 768px) {
    .subscribe-container {
        max-width: 531px;
        padding-top: 72px;
        padding-bottom: 72px;
    }

    .subscribe-title {
        font-weight: var(--fw-semibold);
        font-size: 24px;
        line-height: 1.17;
        text-transform: uppercase;
        max-width: 376px;
        margin-bottom: 24px;
    }

    .subscribe-text {
        max-width: 100%;
        height: 72px;
    }

    .subscribe-btn {
        font-size: 18px;
        line-height: 1.22;
        min-width: 172px;
        min-height: 50px;
    }

    .subscribe-background {
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
            url(../img/subscribe-img/tablet-subscribe-img.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

    }
}



/* -------------------------------1200px-------------------------------- */

@media screen and (min-width: 1200px) {
    .subscribe-background {
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
            url(../img/subscribe-img/desktop-subscribe-img.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

    }
}