.top-sellers {
  background-color: var(--white-color-100);
}
.top-sellers-title {
  font-family: 'Montserrat-600', sans-serif;
  margin-bottom: 32px;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
}
.top-sellers-title-dark {
  color: var(--primary-dark-color);
}
.top-sellers-thumb {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-sellers-img {
  border-radius: 15px;
}

.top-4 {
  display: none;
}
.top-sellers {
  background: #fafafa;
}
.top-sellers-picture {
  margin-bottom: 20px;
}
.top-sellers-text {
  font-family: 'Montserrat-400', sans-serif;
  text-align: left;
  max-width: 306px;
  margin-bottom: 32px;
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.02em;
  color: var(--primary-dark-color);
}
.buy-modal-btn {
  display: block;
  margin: 0 auto;
  padding: 12px 28px;
  max-width: 120px;
  font-family: 'Montserrat-600', sans-serif;
  font-size: 14px;
  line-height: calc(17 / 14);
  color: var(--white-color);
  background-color: var(--accent-color);
  border: none;
  border-radius: 100px;
  transform: color var(--timing-function),
    background-color var(--timing-function);
}

.buy-modal-btn:hover,
.buy-modal-btn:focus {
  background-color: var(--hover-color);
  color: var(--accent-color);
}

/* MODAL */
.backdrop-buy-now {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-image: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
  );
}
.backdrop-buy-now.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.buy-now-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 311px;
  width: 100%;
  overflow: auto;
  height: 100vh;
  padding: 32px 24px;
  border-radius: 15px;
  transform: translate(-50%, -50%) scale(1);

  background-color: var(--white-color);
}
.buy-now-btn-close {
  position: absolute;
  top: 20px;
  right: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 28px;
  min-height: 28px;
  padding: 0;

  margin-left: auto;
  background-color: transparent;
  color: var(--primary-dark-color);
  border: none;
  transition: background-color var(--timing-function),
    color var(--timing-function);
}

.buy-now-btn-close:hover,
.buy-now-btn-close:focus {
  border-radius: 50%;
  background-color: #fcf1e0;
  color: var(--accent-color);
}
.buy-now-icon {
  fill: currentColor;
}
.buy-now-title {
  font-family: 'Montserrat-600', sans-serif;
  margin-bottom: 32px;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--primary-dark-color);
}
.buy-now-title-accent {
  color: var(--accent-color);
}
.buy-now-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.buy-now-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  background: var(--white-color);
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
}
.buy-now-img {
  border-radius: 15px;
}
.buy-now-text {
  display: block;
  font-family: 'Montserrat-600', sans-serif;
  padding: 8px 20px;
  font-size: 14px;
  line-height: 1.21;

  background: #fafafa;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
}
.buy-now-form {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}
.buy-now-label {
  position: relative;
  margin-bottom: 8px;
  font-family: 'Montserrat-500', sans-serif;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: var(--primary-dark-color);
}
.buy-now-label-before::before {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  top: 100%;
  transform: translateY(100%);
  margin-top: 5px;
  margin-left: 18px;
  width: 24px;
  height: 18px;
  background-image: url(../img/reviews/ukr.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: transparent;
}
.buy-now-label-before-tel {
  font-family: 'Montserrat-500', sans-serif;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50px;
  margin-top: 7px;
  transform: translateY(100%);
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: var(--primary-dark-color);
}
.buy-now-label-before-box::after {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  top: 100%;
  margin-top: -4px;
  transform: translateY(100%);
  width: 24px;
  height: 24px;
  margin-left: 64px;
  background-color: transparent;
  box-shadow: 1.5px 0px 0px rgba(0, 0, 0, 0.1);
}
.label-card {
  position: relative;
}
.label-card::after {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  top: 100%;
  right: 14px;
  margin-top: 13px;
  transform: translateY(100%);
  width: 22px;
  height: 13px;
  background-image: url(../img/top-sellers/mastercard-icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: transparent;
}

.buy-now-input,
.buy-now-textarea {
  margin-bottom: 18px;
  padding: 14px 18px;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  width: 100%;
  resize: none;
  color: rgba(64, 64, 64, 0.3);
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  outline: transparent;
  filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
  border-radius: 13px;
  transition: border var(--timing-function);
}
.buy-now-textarea::placeholder {
  color: rgba(64, 64, 64, 0.3);
}
.buy-now-input-tel {
  padding-left: 100px;
}
.buy-now-input:focus,
.buy-now-textarea:focus {
  border: 1.5px solid var(--accent-color);
}
.buy-now-submit {
  max-width: 109px;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .top-sellers-thumb {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .top-sellers-picture {
    margin-bottom: 32px;
  }
  .top {
    width: calc((100%-16px) / 2);
  }
  .top-1 {
    order: 1;
  }

  .top-2 {
    order: 3;
  }
  .top-3 {
    order: 2;
  }
  .top-5 {
    order: 4;
  }
  .top-sellers-title {
    font-size: 24px;
    line-height: calc(28 / 24);
    margin-bottom: 50px;
  }

  .top-sellers-text {
    max-width: 306px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .buy-modal-btn {
    margin-top: 0;
    margin-left: auto;
    margin-right: 8px;
  }
  .buy-now-modal {
    max-width: 609px;
    padding: 48px;
  }

  .buy-now-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
  }
  .buy-now-item {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }
  .label-thumb {
    display: flex;
    gap: 21px;
  }
  .buy-now-label {
    font-size: 14px;
    line-height: 1.28;
  }
  .buy-now-input,
  .buy-now-textarea {
    padding: 22px 24px;
    font-size: 18px;
    line-height: 1.22;
  }

  .form-submit-btn {
    padding: 14px 40px;
    max-width: 117px;
  }

  .buy-now-input-tel {
    padding-left: 150px;
  }
  .buy-now-label-before-tel {
    font-size: 18px;
    line-height: 1.22;
  }
  .buy-now-label-before::before {
    width: 32px;
    height: 32px;
    margin-top: -5px;
  }
  .buy-now-submit {
    max-width: 133px;
    margin: 0;
    padding: 14px 40px;
  }
  .buy-now-label-before-tel {
    margin-top: 10px;
    left: 60px;
  }
  .buy-now-label-before-box::after {
    margin-top: 6px;
    margin-left: 100px;
    box-shadow: 2.72246px 0px 0px rgba(0, 0, 0, 0.1);
  }
  .label-card::after {
    right: 24px;
    margin-top: 15px;

    width: 30px;
    height: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .top-sellers-thumb {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .top-sellers-text {
    max-width: 407px;
  }
  .top {
    width: calc((100%-32px) / 3);
  }
  .top-1 {
    order: 1;
  }

  .top-2 {
    order: 4;
  }
  .top-3 {
    order: 2;
  }
  .top-4 {
    order: 3;
    display: block;
  }
  .top-5 {
    margin-right: 10px;
    order: 5;
  }

  .buy-now-submit {
    max-width: 133px;
    margin: 0;
  }
}
